"target/" 
"bin/" 
".classpath" 
".project" 
".settings/" 
"logs/" 
"oauth2Client1/target/" 
"oauth2Client1/bin/" 
"oauth2Client1/.classpath" 
"oauth2Client1/.project" 
"oauth2Client1/.settings/" 
"oauth2Client1/logs/" 
